---
import { Image } from "astro:assets";
import "@fontsource/lobster";
import logoChinchay from "../../public/logoChinchay.webp";
import Menu from "../icons/Menu.astro";
---

<header class="w-full h-[100vh] bg-cover bg-center relative overflow-hidden">
  <div class="absolute lg:flex justify-center items-center h-full w-full">
    <video
      class="w-full h-full object-cover"
      src="/video.mp4"
      autoplay
      loop
      muted
    >
    </video>
  </div>
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <div class="absolute flex justify-between items-center w-full px-14 py-6">
    <Image
      src={logoChinchay}
      alt="logoChinchaycamac"
      class="w-[173px] h-[48px]"
    />
    <nav class="lg:flex hidden space-x-2 text-white z-20">
      <a href="#inicio">Inicio</a>
      <a href="#somos">Quienes Somos</a>
      <a href="#alojamiento">Alojamiento</a>
      <a href="#ubicacion">Ubicación</a>
      <a href="#testimonio">Testimonio</a>
    </nav>
  </div>

  <a
    id="btnMenu"
    href="#"
    class="absolute z-20 right-8 top-5 justify-center lg:hidden"
  >
    <Menu />
  </a>

  <div
    id="mobileMenu"
    class="absolute top-0 h-[30vh] left-0 w-full bg-[#1abc9c] z-10 hidden"
  >
    <!-- Aquí va el contenido del menú desplegable para dispositivos móviles -->
    <ul class="text-white text-center py-6 space-y-4">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#somos">Quienes Somos</a></li>
      <li><a href="#alojamiento">Alojamiento</a></li>
      <li><a href="#ubicacion">Ubicación</a></li>
      <li><a href="#testimonio">Testimonio</a></li>
    </ul>
  </div>

  <div
    class="absolute flex flex-col space-y-16 justify-center items-center h-full w-full"
  >
    <h2
      class="text-5xl lg:text-6xl text-white text-center lg:w-1/2 text-pretty"
      style="font-family:'Lobster'"
    >
      Tu hogar lejos de casa, con vistas al mar
    </h2>
    <a
      href="#"
      class="bg-[#60a2bf] flex justify-center px-7 lg:px-12 text-lg lg:text-xl py-3  lg:py-2 rounded-2xl text-white font-medium"
      >Reservar</a
    >
  </div>
</header>


