---
import { Image } from "astro:assets";
import "@fontsource/lobster";
import logoChinchay from "../../public/logoChinchay.webp";
---

<header class="w-full h-[100vh] bg-cover bg-center relative overflow-hidden">
  <div class="absolute flex justify-center items-center h-full w-full">
    <video class="w-full" src="/video.mp4" autoplay loop muted> </video>
  </div>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="absolute flex justify-between items-center w-full px-14 py-6">
    <Image
      src={logoChinchay}
      alt="logoChinchaycamac"
      class="w-[173px] h-[48px]"
    />
    <nav class="space-x-2 text-white z-20">
      <a href="#inicio">Inicio</a>
      <a href="#somos">Quienes Somos</a>
      <a href="#alojamiento">Alojamiento</a>
      <a href="#ubicacion">Ubicación</a>
      <a href="#testimonio">Testimonio</a>
    </nav>
  </div>
  <div
    class="absolute flex flex-col space-y-16 justify-center items-center h-full w-full"
  >
    <h2
      class="text-5xl text-white w-1/2 text-pretty"
      style="font-family:'Lobster'"
    >
      Tu hogar lejos de casa, con vistas al mar
    </h2>
    <a
      href="#"
      class="bg-[#1ABC9C] flex justify-center px-12 py-2 rounded-2xl text-white font-bold"
      >Reservar</a
    >
  </div>
</header>
