<main class="bg-[#003366] flex flex-col items-center py-20">
  <div class="w-1/2 space-y-5">
    <h2 class="text-3xl text-white text-center">
      ¡Bienvenido a chinchaycamac, tu refugio costero ideal!
    </h2>
    <p class="text-center text-white leading-relaxed font-extralight">
      En Chinchaycamac, ofrecemos una experiencia única junto al mar, donde el
      lujo se encuentra con la serenidad. Nuestros bungalows privados te brindan
      un oasis de tranquilidad con todas las comodidades modernas que necesitas
      para una escapada perfecta. Ven y descubre la belleza de la costa en
      Chinchaycamac, donde tus vacaciones de ensueño comienzan hoy mismo.
    </p>
  </div>
</main>
