<div class="w-full my-8 flex flex-col items-center bg-gray-50 pb-20">

  <div class="my-8 lg:my-14 flex-col flex items-center">
    <h2 class="text-lg lg:text-2xl font-semibold text-center uppercase">
      Donde puedes encontrarnos
    </h2>
    <div class="w-[120px] h-[4px] bg-[#60a2bf] mt-2 rounded-lg mb-10"></div>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124115.39013177587!2d-76.32485389709473!3d-13.559748223635046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91101378a996f391%3A0xbc0a2ebc66dec429!2sChinchaycamac%20Hotel!5e0!3m2!1ses-419!2spe!4v1710097791621!5m2!1ses-419!2spe"
    style="border:0;"
    width="90%"
    height="450px"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</div>
